colors = {
  black: #222831,
  blue: #699BFF,
  nightblue: #394867,
  white: #f1f6f9,
  gray: #EEEEEE,
  background2: #393E46,
  red: #BE5683,
  green: #5F9A66,
}

$black-color = colors.black
$blue-color = colors.blue
$nightblue-color = colors.nightblue
$white-color = colors.white
$background = colors.gray
$gray-color = colors.gray
$background2 = colors.background2
$red-color = colors.red
$green-color = colors.green

$font = 'Hind Vadodara', sans-serif;
$font2 = 'Playfair Display', sans-serif;

tablet = "only screen and (max-width: 1200px)"
tablet-up = "only screen and (min-width: 1199px)"
mobile = "only screen and (max-width: 850px)"
mobile-up = "only screen and (min-width: 849px)"

.mobile-only
	display none
	@media mobile 
		display block

.desktop-only
  display none
  @media tablet-up
    display block

.tablet-only
  display none
  @media tablet
    display block